*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.nav{
    background-color: rgb(209, 250, 236);
    width: 100vw;
    height: 16vh;
    display: flex;
    text-align: center;
}
.sub{
    border-radius: 10px;
}
.sub:nth-child(odd){
    background-color: rgb(248, 248, 248);
    flex: 1;
}
.sub:nth-child(even){
    flex: 1;
}
i{
    color: rgb(4, 113, 144);
    scale: 2;
    margin: 2rem;
}
.address{
    display: block;
    visibility: hidden;
    transition: all 0.9s;
}
.sub:hover .address{
    visibility: visible;
    background-color: aliceblue;
    border-radius: 10px;
}